/* Font Face: Roboto (Google Fonts) */
@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap') format('woff2');
    font-weight: 400, 700;
    font-style: normal;
    font-display: swap;
}
/* custom */
@font-face {
    font-family: custom-font-name;
    src: url("url from the folder or link");
}

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: #0a0a0a;
    font-family: 'Roboto', system-ui, sans-serif;
    /* smoothing the font */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* smooth scroll */
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

/* must have a parent container which have a dynamic width and height */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    width: 100%;
    height: 100%;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    /* color: #ffeded; */
    color: 
    #edeeff
    ;
    text-transform: uppercase;
    font-size: 7vmin;
}

/* Responsive Media Queries (Mobile-First) */
/* Phone view: up to 576px */
/* @media (max-width: 576px) {
    html, body {
        background-color: brown;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    html, body {
        background-color: cadetblue;
    }
} */